<html>
   <head>
      <title>Louis Braquet | Art</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/mainalt.css">
   </head>
   <body>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/artgallery">Art Gallery</a></li>
                <li><a href="/forsale">For Sale</a></li>
                <li><a href="/commissions">Commissions</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/aboutme">About Me</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><% if (!user) { %>
        	       <a href="/login"><span class="glyphicon glyphicon-user"></span> Commission Login</a>
                <% } else { %>
        	       <a href="/profile"><%= user.username %>'s Current Commissions</a>
                <% } %></li>
                <li><% if (user) { %>
                    <a href="/logout">Log out</a>
                <% } %></li>
            </ul>
        </div>
        <div class="nav">
            <div class ="container">
      	       <div class="icon-menu"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
      	    </div>
        </div>
 
        <div class="container-fluid text-center" id="comissions">
            <div class="row">
                <div class="col-sm-4">
                    <h1><%= user.displayName %><br/></h1>
                </div>
                <div class="col-sm-4">
                    <h3>
                        <% if (user.emails) { %>
                        Email: <%= user.emails[0].value %><br/>
                        <% } %>
                    </h3>
                </div>
                <div class="col-sm-4">
                    <h3>Username: <%= user.username %><br/></h3>
                </div>
            </div>
            <div class="container-fluid">
                <h2>
                    Comission: <%= user.commission %><br />
                </h2>
                <h3>
                    Commission Progress:<br />
                </h3>
                <img id="comission" src="<%= user.comImage %>" />
            </div>
        </div>
    
        <div class = "container-fluid text-center" id="footer">
            <div class="row">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
              </div>
            </div>
        </div>
        <script src="js/menu.js"></script>
    </body>
</html>